:root {
	--clr-white				: #FFFFFF;
	--clr-black				: #000000;
	--clr-accent			: #5D21D2;
	--clr-light-gray	: #F5F7FB;
	--clr-dark-gray		: #81878E;
	--clr-black-gray	: #61656A;

	// Информационные цвета
	--clr-green				: #364838;
	--clr-brown				: #A45826;
	--clr-orange			: #C08937;
	--clr-beige				: #E5E5D9;
}
