:root {
	--clr-white: #FFFFFF;
	--clr-light-gray: #F6F6F6;
	--clr-dark-gray: #EBEBEB;

	--clr-black: #000000;
	--clr-light-black: #3D3D3D;
	--clr-dark-black: #222222;

	--clr-green: #364838;
	--clr-brown: #A45826;
	--clr-orange: #C08937;
	--clr-beige: #E5E5D9;

	--clr-text: var(--clr-dark-black);
}
