@import "extends/normalize";
@import "variables/font";
@import "variables/color";
@import "variables/vars";

* {
	user-select: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
	font-family: var(--ff-main);
	font-weight: 400;
}

html,
body {
	width: 100vw;
	height: 100vh;
	height: 100dvh;
	font-size: var(--index);
	color: var(--clr-black-gray);
	overflow: hidden;
}

@import 'default';
@import 'layouts/default-page';
