.page {
	height: 100vh;
	height: 100dvh;
	font-size: 1.5rem;

	display: flex;
	flex-direction: column;

	&__content {
		flex-grow: 1;
		margin-top: 2rem;
		padding: 0 calc(var(--std-gap) * 2);
		//overflow-y: scroll;

		&:has(.page__aside) {
			display: grid;
			grid-template-columns: 2fr 1fr;
			gap: calc(var(--std-gap) * 2);
		}
	}
}
